<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yyyq.auth.mapper.GameMapper" >
  <resultMap id="BaseResultMap" type="yyyq.auth.entity.Game" >
    <id column="game_id" property="gameId" jdbcType="BIGINT" />
    <result column="game_name" property="gameName" jdbcType="VARCHAR" />
    <result column="game_icon_url" property="gameIconUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="disabled" property="disabled" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    game_id, game_name, game_icon_url, create_time, create_by, disabled
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from game
    where game_id = #{gameId,jdbcType=BIGINT}
  </select>
  <select id="getGameListByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from game where disabled=0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from game
    where game_id = #{gameId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="yyyq.auth.entity.Game" >
    insert into game (game_id, game_name, game_icon_url, 
      create_time, create_by, disabled
      )
    values (#{gameId,jdbcType=BIGINT}, #{gameName,jdbcType=VARCHAR}, #{gameIconUrl,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{disabled,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="yyyq.auth.entity.Game" >
    insert into game
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gameId != null" >
        game_id,
      </if>
      <if test="gameName != null" >
        game_name,
      </if>
      <if test="gameIconUrl != null" >
        game_icon_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="disabled != null" >
        disabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gameId != null" >
        #{gameId,jdbcType=BIGINT},
      </if>
      <if test="gameName != null" >
        #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="gameIconUrl != null" >
        #{gameIconUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null" >
        #{disabled,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="yyyq.auth.entity.Game" >
    update game
    <set >
      <if test="gameName != null" >
        game_name = #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="gameIconUrl != null" >
        game_icon_url = #{gameIconUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null" >
        disabled = #{disabled,jdbcType=BIT},
      </if>
    </set>
    where game_id = #{gameId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="yyyq.auth.entity.Game" >
    update game
    set game_name = #{gameName,jdbcType=VARCHAR},
      game_icon_url = #{gameIconUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      disabled = #{disabled,jdbcType=BIT}
    where game_id = #{gameId,jdbcType=BIGINT}
  </update>
</mapper>