<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="shared/notLayout">
<head>
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div class="container" id="game">
        <div class="row">
            <div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">我的游戏</h6>
                    </div>
                    <div class="ui-block-content">
                        <form>
                            <div class="row">
                                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="description-toggle" v-for="item in gameList">
                                        <div class="description-toggle-content">
                                            <img :src="item.gameIconUrl" th:width="40px">
                                            <div class="h6" v-html="item.gameName"></div>
                                        </div>
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" checked="">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div th:include="component/settingNav :: settingNav"
                 class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12  responsive-display-none"></div>
        </div>
    </div>
</div>
<div th:fragment="script" th:remove="tag">
    <script src="/script/setting/game.js"></script>
</div>
</body>
</html>
